@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Scripts/Plugins/NewCSS/circlebar.css" rel="stylesheet" />
<div class="col-xs-6 circlebar-content">
    <!-- 模块加载中，只需要引用此段  -->
    <div class="circlebar">
        <div class="circlebar-inner"><i></i></div>
        <p>加载中</p>
    </div>
    <!-- 模块加载中，只需要引用此段 end -->

</div>
<!--原页面加载中 -->
<div  class="loadingContentList" lang="通用进度条" style="display:block"></div>
<!--原页面加载中 end -->


<!--页面加载中 全屏幕居中-->
<!--<div class="circlebar-loading"></div>-->
<!--页面加载中  全屏幕居中 end-->
