@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="newDemo-main" class="show-scoll full-width" style="overflow-y:auto">
    <div class="iconold-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="newicon-tip">
                    <ul>
                        <li>
                            <p><span class="newicon-badge">1</span> 图标样式表引用</p>
                            <div class="alert alert-success">
                                <p>&lt;link href="/Scripts/Plugins/NewCSS/iconfont.css" rel="stylesheet" /&gt;</p>
                            </div>
                        </li>
                        <li>
                            <p><span class="newicon-badge">2</span> 图标使用</p>
                            <div class="alert alert-success">
                                <p>添加 <code>fi fi-huiyuannv</code> class.其中 "iconfont" 为固定引用,"fi-huiyuannv" 则为对应图标的class名称</p>
                                <p>例如:图标 <span class="fi fi-huiyuannv"></span> 使用标签 <code>&lt;span class="fi fi-huiyuannv"&gt;&lt;/span&gt;</code> , 其中 "fi-huiyuannv" 为图标 <span class="fi fi-huiyuannv"></span> 的class名称.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="iconold-main">
                    <h2 class="page-header">原图标 fi</h2>
                    <ul class="iconold-list">
                        <li class="col-md-2 col-xs-6 ">
                            <span class="fi fi-huiyuannv"></span>
                            <span class="icondemo-name">.fi-huiyuannv</span>
                        </li>
                        <li class="col-md-2 col-xs-6 ">
                            <span class="fi fi-account"></span>
                            <span class="icondemo-name">.fi-account</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tuichu"></span>
                            <span class="icondemo-name">.fi-tuichu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-cantsee"></span>
                            <span class="icondemo-name">.fi-cantsee</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-set"></span>
                            <span class="icondemo-name">.fi-set</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-pingjia"></span>
                            <span class="icondemo-name">.fi-pingjia</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-guanbi"></span>
                            <span class="icondemo-name">.fi-guanbi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dingdan"></span>
                            <span class="icondemo-name">.fi-dingdan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dingdan"></span>
                            <span class="icondemo-name">.fi-dingdan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-box"></span>
                            <span class="icondemo-name">.fi-box</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shouhuodizhi"></span>
                            <span class="icondemo-name">.fi-shouhuodizhi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-taolunquqianmingdang"></span>
                            <span class="icondemo-name">.fi-taolunquqianmingdang</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-queren"></span>
                            <span class="icondemo-name">.fi-queren</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tuikuan"></span>
                            <span class="icondemo-name">.fi-tuikuan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-duanxin2"></span>
                            <span class="icondemo-name">.fi-duanxin2</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-email"></span>
                            <span class="icondemo-name">.fi-email</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-yuyin"></span>
                            <span class="icondemo-name">.fi-yuyin</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-caixin2"></span>
                            <span class="icondemo-name">.fi-caixin2</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-huifu"></span>
                            <span class="icondemo-name">.fi-huifu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-less"></span>
                            <span class="icondemo-name">.fi-less</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-moreunfold"></span>
                            <span class="icondemo-name">.fi-moreunfold</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zuojiantou"></span>
                            <span class="icondemo-name">.fi-zuojiantou</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-wrong"></span>
                            <span class="icondemo-name">.fi-wrong</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-close"></span>
                            <span class="icondemo-name">.fi-close</span>
                        </li>
                        <!-- 左边菜单图标 -->
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-set"></span>
                            <span class="icondemo-name">.fi-set</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shezhi"></span>
                            <span class="icondemo-name">.fi-shezhi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-benyuandiaocha"></span>
                            <span class="icondemo-name">.fi-benyuandiaocha</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-chadingdan"></span>
                            <span class="icondemo-name">.fi-chadingdan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fasong"></span>
                            <span class="icondemo-name">.fi-fasong</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xin"></span>
                            <span class="icondemo-name">.fi-xin</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-beizhu"></span>
                            <span class="icondemo-name">.fi-beizhu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfontchaping2"></span>
                            <span class="icondemo-name">.fi-iconfontchaping2</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zuzhiguanli"></span>
                            <span class="icondemo-name">.fi-zuzhiguanli</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jewelry"></span>
                            <span class="icondemo-name">.fi-jewelry</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-cart"></span>
                            <span class="icondemo-name">.fi-cart</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shijianguanli"></span>
                            <span class="icondemo-name">.fi-shijianguanli</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-pingjia"></span>
                            <span class="icondemo-name">.fi-pingjia</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fenxi"></span>
                            <span class="icondemo-name">.fi-fenxi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-wuliu"></span>
                            <span class="icondemo-name">.fi-wuliu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jikediancanicon16"></span>
                            <span class="icondemo-name">.fi-jikediancanicon16</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shangpin"></span>
                            <span class="icondemo-name">.fi-shangpin</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dianpu"></span>
                            <span class="icondemo-name">.fi-dianpu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fenxi"></span>
                            <span class="icondemo-name">.fi-fenxi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-productfeatures"></span>
                            <span class="icondemo-name">.fi-productfeatures</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xiazai"></span>
                            <span class="icondemo-name">.fi-xiazai</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jl2"></span>
                            <span class="icondemo-name">.fi-jl2</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-invisible"></span>
                            <span class="icondemo-name">.fi-invisible</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xxjl2"></span>
                            <span class="icondemo-name">.fi-xxjl2</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-backup"></span>
                            <span class="icondemo-name">.fi-backup</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-training"></span>
                            <span class="icondemo-name">.fi-training</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-security"></span>
                            <span class="icondemo-name">.fi-security</span>
                        </li>
                        <!-- 左边菜单图标  end -->
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-danquxunhuan"></span>
                            <span class="icondemo-name">.fi-danquxunhuan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfontdanquxunhuan"></span>
                            <span class="icondemo-name">.fi-iconfontdanquxunhuan</span>
                        </li>

                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-favorite"></span>
                            <span class="icondemo-name">.fi-favorite</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-information"></span>
                            <span class="icondemo-name">.fi-information</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-help"></span>
                            <span class="icondemo-name">.fi-help</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-youjiantou"></span>
                            <span class="icondemo-name">.fi-youjiantou</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfontzuzhijiagou"></span>
                            <span class="icondemo-name">.fi-iconfontzuzhijiagou</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-youxianjidi"></span>
                            <span class="icondemo-name">.fi-youxianjidi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xiajiantou"></span>
                            <span class="icondemo-name">.fi-xiajiantou</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shangjiantou"></span>
                            <span class="icondemo-name">.fi-shangjiantou</span>
                        </li>

                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-qi"></span>
                            <span class="icondemo-name">.fi-qi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-bianji"></span>
                            <span class="icondemo-name">.fi-bianji</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fangda"></span>
                            <span class="icondemo-name">.fi fi-fangda</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zhengque"></span>
                            <span class="icondemo-name">.fi fi-zhengque</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-111"></span>
                            <span class="icondemo-name">.fi-111</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-ditu"></span>
                            <span class="icondemo-name">.fi-ditu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-home"></span>
                            <span class="icondemo-name">.fi-home</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-icoheart"></span>
                            <span class="icondemo-name">.fi-icoheart</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fenxiang"></span>
                            <span class="icondemo-name">.fi-fenxiang</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-suo"></span>
                            <span class="icondemo-name">.fi-suo</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-quanping"></span>
                            <span class="icondemo-name">.fi-quanping</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-yinqing"></span>
                            <span class="icondemo-name">.fi-yinqing</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-62"></span>
                            <span class="icondemo-name">.fi-62</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-icon"></span>
                            <span class="icondemo-name">.fi-icon</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fasong"></span>
                            <span class="icondemo-name">.fi-fasong</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xinzeng"></span>
                            <span class="icondemo-name">.fi-xinzeng</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zuzhiguanli"></span>
                            <span class="icondemo-name">.fi-zuzhiguanli</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-naozhong"></span>
                            <span class="icondemo-name">.fi-naozhong</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-gonggaoguanli"></span>
                            <span class="icondemo-name">.fi-gonggaoguanli</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zhishiku"></span>
                            <span class="icondemo-name">.fi-zhishiku</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fanhui"></span>
                            <span class="icondemo-name">.fi-fanhui</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shandian"></span>
                            <span class="icondemo-name">.fi-shandian</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-return"></span>
                            <span class="icondemo-name">.fi-return</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-guanbi"></span>
                            <span class="icondemo-name">.fi-guanbi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zidong"></span>
                            <span class="icondemo-name">.fi-zidong</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dianpu1"></span>
                            <span class="icondemo-name">.fi-dianpu1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zhineng"></span>
                            <span class="icondemo-name">.fi-zhineng</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-baocun"></span>
                            <span class="icondemo-name">.fi-baocun</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-icondaihuifu"></span>
                            <span class="icondemo-name">.fi-icondaihuifu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tijiantaocan"></span>
                            <span class="icondemo-name">.fi-tijiantaocan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-danxuanxuanzhong"></span>
                            <span class="icondemo-name">.fi-danxuanxuanzhong</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-benyuandiaocha"></span>
                            <span class="icondemo-name">.fi-benyuandiaocha</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-sheji"></span>
                            <span class="icondemo-name">.fi-sheji</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-gerenziliaosms"></span>
                            <span class="icondemo-name">.fi-gerenziliaosms</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-wodekehu"></span>
                            <span class="icondemo-name">.fi-wodekehu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-huiyuanquanyijisutuikuan2px"></span>
                            <span class="icondemo-name">.fi-huiyuanquanyijisutuikuan2px</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-icomoon"></span>
                            <span class="icondemo-name">.fi-icomoon</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fenlei"></span>
                            <span class="icondemo-name">.fi-fenlei</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-home1"></span>
                            <span class="icondemo-name">.fi-home1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-huiyuannan"></span>
                            <span class="icondemo-name">.fi-huiyuannan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-all"></span>
                            <span class="icondemo-name">.fi-all</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-back"></span>
                            <span class="icondemo-name">.fi-back</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-category"></span>
                            <span class="icondemo-name">.fi-category</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-comments"></span>
                            <span class="icondemo-name">.fi-comments</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-cry"></span>
                            <span class="icondemo-name">.fi-cry</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-delete"></span>
                            <span class="icondemo-name">.fi-delete</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-edit"></span>
                            <span class="icondemo-name">.fi-edit</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-folder"></span>
                            <span class="icondemo-name">.fi-folder</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-form"></span>
                            <span class="icondemo-name">.fi-form</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-more"></span>
                            <span class="icondemo-name">.fi-more</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-pic"></span>
                            <span class="icondemo-name">.fi-pic</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-qrcode"></span>
                            <span class="icondemo-name">.fi-qrcode</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-refresh"></span>
                            <span class="icondemo-name">.fi-refresh</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-rfq"></span>
                            <span class="icondemo-name">.fi-rfq</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-search"></span>
                            <span class="icondemo-name">.fi-search</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-selected"></span>
                            <span class="icondemo-name">.fi-selected</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-smile"></span>
                            <span class="icondemo-name">.fi-smile</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-success"></span>
                            <span class="icondemo-name">.fi-success</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-survey"></span>
                            <span class="icondemo-name">.fi-survey</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-viewgallery"></span>
                            <span class="icondemo-name">.fi-viewgallery</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-viewlist"></span>
                            <span class="icondemo-name">.fi-viewlist</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-warning"></span>
                            <span class="icondemo-name">.fi-warning</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-add"></span>
                            <span class="icondemo-name">.fi-add</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-atm"></span>
                            <span class="icondemo-name">.fi-atm</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fuzhi"></span>
                            <span class="icondemo-name">.fi-fuzhi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-clock"></span>
                            <span class="icondemo-name">.fi-clock</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-remind"></span>
                            <span class="icondemo-name">.fi-remind</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfont32"></span>
                            <span class="icondemo-name">.fi-iconfont32</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfont26"></span>
                            <span class="icondemo-name">.fi-iconfont26</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfont25"></span>
                            <span class="icondemo-name">.fi-iconfont25</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-qizhiline"></span>
                            <span class="icondemo-name">.fi-qizhiline</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tishi"></span>
                            <span class="icondemo-name">.fi-tishi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-calendar"></span>
                            <span class="icondemo-name">.fi-calendar</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-yuyin1"></span>
                            <span class="icondemo-name">.fi-yuyin1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-piliangyouhua"></span>
                            <span class="icondemo-name">.fi-piliangyouhua</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shouji"></span>
                            <span class="icondemo-name">.fi-shouji</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-duibishitu"></span>
                            <span class="icondemo-name">.fi-duibishitu</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jiance"></span>
                            <span class="icondemo-name">.fi-jiance</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-duibishitu1"></span>
                            <span class="icondemo-name">.fi-duibishitu1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-icon1"></span>
                            <span class="icondemo-name">.fi-icon1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jixushangchuan"></span>
                            <span class="icondemo-name">.fi-jixushangchuan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tuikuanshouhou"></span>
                            <span class="icondemo-name">.fi-tuikuanshouhou</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-geshihua"></span>
                            <span class="icondemo-name">.fi-geshihua</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jiantou"></span>
                            <span class="icondemo-name">.fi-jiantou</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-1"></span>
                            <span class="icondemo-name">.fi-1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-icon2"></span>
                            <span class="icondemo-name">.fi-icon2</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-weibiaoti9"></span>
                            <span class="icondemo-name">.fi-weibiaoti9</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tongyongbiaoqianyangshi"></span>
                            <span class="icondemo-name">.fi-tongyongbiaoqianyangshi</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jinlingyingcaiwang"></span>
                            <span class="icondemo-name">.fi-jinlingyingcaiwang</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-attachment"></span>
                            <span class="icondemo-name">.fi-attachment</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shangchuan"></span>
                            <span class="icondemo-name">.fi-shangchuan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-3column"></span>
                            <span class="icondemo-name">.fi-3column</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-4column"></span>
                            <span class="icondemo-name">.fi-4column</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-checkboxchecked"></span>
                            <span class="icondemo-name">.fi-checkboxchecked</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-checkboxnormal"></span>
                            <span class="icondemo-name">.fi-checkboxnormal</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shijianguanli"></span>
                            <span class="icondemo-name">.fi-shijianguanli</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-discount"></span>
                            <span class="icondemo-name">.fi-discount</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-chanpin"></span>
                            <span class="icondemo-name">.fi-chanpin</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-service"></span>
                            <span class="icondemo-name">.fi-service</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-print"></span>
                            <span class="icondemo-name">.fi-print</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-process"></span>
                            <span class="icondemo-name">.fi-process</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-electronics"></span>
                            <span class="icondemo-name">.fi-electronics</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-gifts"></span>
                            <span class="icondemo-name">.fi-gifts</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-lights"></span>
                            <span class="icondemo-name">.fi-lights</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-auto"></span>
                            <span class="icondemo-name">.fi-auto</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-release_info"></span>
                            <span class="icondemo-name">.fi-release_info</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dingdanxiangqing"></span>
                            <span class="icondemo-name">.fi-dingdanxiangqing</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-browse"></span>
                            <span class="icondemo-name">.fi-browse</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-atmaway"></span>
                            <span class="icondemo-name">.fi-atmaway</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-people"></span>
                            <span class="icondemo-name">.fi-people</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zhuangxiumoban"></span>
                            <span class="icondemo-name">.fi-zhuangxiumoban</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-scanning"></span>
                            <span class="icondemo-name">.fi-scanning</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-remind1"></span>
                            <span class="icondemo-name">.fi-remind1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zhuye1"></span>
                            <span class="icondemo-name">.fi-zhuye1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-filter"></span>
                            <span class="icondemo-name">.fi-filter</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-pin"></span>
                            <span class="icondemo-name">.fi-pin</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-history"></span>
                            <span class="icondemo-name">.fi-history</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-supplierfeatures"></span>
                            <span class="icondemo-name">.fi-supplierfeatures</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-similarproduct"></span>
                            <span class="icondemo-name">.fi-similarproduct</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-link"></span>
                            <span class="icondemo-name">.fi-link</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-cut"></span>
                            <span class="icondemo-name">.fi-cut</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-table"></span>
                            <span class="icondemo-name">.fi-table</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-navlist"></span>
                            <span class="icondemo-name">.fi-navlist</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-imagetext"></span>
                            <span class="icondemo-name">.fi-imagetext</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-text"></span>
                            <span class="icondemo-name">.fi-text</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-baocun01"></span>
                            <span class="icondemo-name">.fi-baocun01</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-subtract"></span>
                            <span class="icondemo-name">.fi-subtract</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xinwen"></span>
                            <span class="icondemo-name">.fi-xinwen</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dollar"></span>
                            <span class="icondemo-name">.fi-dollar</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xinlangweibo"></span>
                            <span class="icondemo-name">.fi-xinlangweibo</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-1124gaoloudasha"></span>
                            <span class="icondemo-name">.fi-1124gaoloudasha</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-daifukuan"></span>
                            <span class="icondemo-name">.fi-daifukuan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-browse1"></span>
                            <span class="icondemo-name">.fi-browse1</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-danxuankuang"></span>
                            <span class="icondemo-name">.fi-danxuankuang</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-weifahuodingdan"></span>
                            <span class="icondemo-name">.fi-weifahuodingdan</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tanhao"></span>
                            <span class="icondemo-name">.fi-tanhao</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-piliang"></span>
                            <span class="icondemo-name">.fi-piliang</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jl2"></span>
                            <span class="icondemo-name">.fi-jl2</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xxjl2"></span>
                            <span class="icondemo-name">.fi-xxjl2</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fuwudongtai"></span>
                            <span class="icondemo-name">.fi-fuwudongtai</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fuwujingtai"></span>
                            <span class="icondemo-name">.fi-fuwujingtai</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shishidongtai"></span>
                            <span class="icondemo-name">.fi-shishidongtai</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-youxianjizhong"></span>
                            <span class="icondemo-name">.fi-youxianjizhong</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-youxianjigao"></span>
                            <span class="icondemo-name">.fi-youxianjigao</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfontsocialhtml5outline"></span>
                            <span class="icondemo-name">.fi-iconfontsocialhtml5outline</span>
                        </li>
                    </ul>

                </div>

                <div class="iconold-main">
                    <h2 class="page-header">CRM已使用过的图标</h2>
                    <ul class="iconold-list">
                        <li class="col-md-2 col-xs-6 ">
                            <span class="fi fi-huiyuannv"></span>
                            <span class="icondemo-name">欢迎您</span>
                        </li>
                        <li class="col-md-2 col-xs-6 ">
                            <span class="fi fi-account"></span>
                            <span class="icondemo-name">个人资料</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tuichu"></span>
                            <span class="icondemo-name">安全退出</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-cantsee"></span>
                            <span class="icondemo-name">查看</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-set"></span>
                            <span class="icondemo-name">设置</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-pingjia"></span>
                            <span class="icondemo-name">首次催付</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-guanbi"></span>
                            <span class="icondemo-name">关闭前催付</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dingdan"></span>
                            <span class="icondemo-name">下单关怀</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dingdan"></span>
                            <span class="icondemo-name">付款关怀</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-box"></span>
                            <span class="icondemo-name">发货提醒</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shouhuodizhi"></span>
                            <span class="icondemo-name">到达提醒</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-taolunquqianmingdang"></span>
                            <span class="icondemo-name">签收关怀</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-queren"></span>
                            <span class="icondemo-name">确认关怀</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-tuikuan"></span>
                            <span class="icondemo-name">退款关怀</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-duanxin2"></span>
                            <span class="icondemo-name">剩余短信</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-email"></span>
                            <span class="icondemo-name">剩余邮件</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-yuyin"></span>
                            <span class="icondemo-name">剩余语音</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-caixin2"></span>
                            <span class="icondemo-name">剩余彩信</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-huifu"></span>
                            <span class="icondemo-name">短信反馈</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-less"></span>
                            <span class="icondemo-name">箭头向上</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-moreunfold"></span>
                            <span class="icondemo-name">箭头向下</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zuojiantou"></span>
                            <span class="icondemo-name">双箭头向左</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-wrong"></span>
                            <span class="icondemo-name">错误</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-close"></span>
                            <span class="icondemo-name">关闭</span>
                        </li>
                        <!-- 左边菜单图标 -->
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-set"></span>
                            <span class="icondemo-name">营销活动</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shezhi"></span>
                            <span class="icondemo-name">奖励设置</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-benyuandiaocha"></span>
                            <span class="icondemo-name">会员调查</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-chadingdan"></span>
                            <span class="icondemo-name">订单催付</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fasong"></span>
                            <span class="icondemo-name">事件关怀</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xin"></span>
                            <span class="icondemo-name">购物关怀</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-beizhu"></span>
                            <span class="icondemo-name">个性化包裹</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfontchaping2"></span>
                            <span class="icondemo-name">差评警告</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-zuzhiguanli"></span>
                            <span class="icondemo-name">积分体系</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jewelry"></span>
                            <span class="icondemo-name">VIP体系</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-cart"></span>
                            <span class="icondemo-name">交易送积分</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shijianguanli"></span>
                            <span class="icondemo-name">事务处理</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-pingjia"></span>
                            <span class="icondemo-name">评价处理</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fenxi"></span>
                            <span class="icondemo-name">询单分析</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-wuliu"></span>
                            <span class="icondemo-name">物流追踪</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jikediancanicon16"></span>
                            <span class="icondemo-name">电话关怀</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shangpin"></span>
                            <span class="icondemo-name">商品数据</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-dianpu"></span>
                            <span class="icondemo-name">店铺诊断</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-fenxi"></span>
                            <span class="icondemo-name">数据分析</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-productfeatures"></span>
                            <span class="icondemo-name">商业智能</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xiazai"></span>
                            <span class="icondemo-name">下载中心</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-jl2"></span>
                            <span class="icondemo-name">客道精灵</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-invisible"></span>
                            <span class="icondemo-name">数据初始化</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xxjl2"></span>
                            <span class="icondemo-name">客道消息精灵</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-backup"></span>
                            <span class="icondemo-name">自动备份</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-training"></span>
                            <span class="icondemo-name">登录监控</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-security"></span>
                            <span class="icondemo-name">系统安全</span>
                        </li>
                        <!-- 左边菜单图标  end -->
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-danquxunhuan"></span>
                            <span class="icondemo-name">单次执行</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-iconfontdanquxunhuan"></span>
                            <span class="icondemo-name">循环执行</span>
                        </li>

                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-favorite"></span>
                            <span class="icondemo-name">点亮星星，将活动置顶</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-information"></span>
                            <span class="icondemo-name">警告</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-help"></span>
                            <span class="icondemo-name">帮助</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-youjiantou"></span>
                            <span class="icondemo-name">右箭头</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-youxianjidi"></span>
                            <span class="icondemo-name">下箭头</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-xiajiantou"></span>
                            <span class="icondemo-name">下箭头</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-shangjiantou"></span>
                            <span class="icondemo-name">上箭头</span>
                        </li>

                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-qi"></span>
                            <span class="icondemo-name">自动插旗</span>
                        </li>
                        <li class="col-md-2 col-xs-6">
                            <span class="fi fi-bianji"></span>
                            <span class="icondemo-name">编辑</span>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        ResetContentBoxWidth();
        $(window).resize(function () {
            ResetContentBoxWidth();
        });
        function ResetContentBoxWidth() {
            SetMainHeight("newDemo-main", null, 10);
        }

    })
</script>
