@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tabbable">
    <ul class="nav nav-tabs clearfix">
        <li class="active"><a data-toggle="tab">我创建的事务 </a></li>
        <li><a data-toggle="tab">指派给我的事务</a> </li>
        <li><a data-toggle="tab">指派出去的事务</a></li>
        <li><a data-toggle="tab">全部事务</a> </li>
    </ul>
</div>