@@include('../../include/head.html',{
  "title": "弹窗" 
})
    <!-- 这个页面的插件 -->
  <link href="../../../assets/lib/modal/apus.ui.modal.css" rel="stylesheet"> 
  <script src="../../../assets/lib/modal/apus.ui.modal.js"></script>
  <script src="../../../assets/lib/modal/modal.js"></script>
 


	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		
	 <button class="btn btn-primary" id="alert2">弹窗：是否</button>
    <button class="btn btn-primary" id="alert4">弹窗：输入</button>
    <button class="btn btn-primary" id="alert1">弹出 满屏</button> 
		
	</div>

  @@include('../../include/foot.html')
 