/**
 *
 * Apply your custom CSS here
 *
*/

body {
    font-family: 'Microsoft Yahei', serif;
}

a {
}

input{    word-break: break-all;}

.login-page.login-light {
    background: url(/resource/images/login.jpg);
    background-size: cover;
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}


.width-28 {
    width: 28px;
}
.width-60 {
    width: 60px;
}

.width-70 {
    width: 70px;
}
.width-71 {
    width: 71px;
}
.width-80 {
    width: 80px;
}

.width-120 {
    width: 120px;
}

.width-200 {
    width: 200px;
}

.width-615 {
    width: 615px;
}

.height-28 {
    height: 28px;
}
.height-48 {
    height: 48px;
}
.clear{  clear: both;}
.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}

.panel {
    padding: 20px 20px;
}

.super-middle {
    font-size: 45px;
}

.modal .modal-header .close {
    outline: none;
}

.bootbox .modal-dialog {
    width: auto;
    margin: auto;
}

.modal-header .close {
    margin: 0;
}

.modal .modal-footer .btn {
    margin-bottom: 0;
}

.modal .modal-footer .btn + .btn {
    margin-left: 15px;
}

.modal-body .content-body {
    background: #eeeeee;
    padding: 10px 30px;
}
/** 客户轨迹 **/
.modal .cbp_tmtimeline:before {
    background: #ffffff;
    width: 5px;
    margin-left: -6px;
}

.modal .cbp_tmtimeline > li .cbp_tmtime > span {
    color: #575858;
    font-size: 15px;
}

.modal .cbp_tmtimeline > li .cbp_tmtime > span:first-child {
    font-weight: bold;
    margin-bottom: 2px;
}

.modal .cbp_tmtimeline > li .cbp_tmtime > span:last-child {
    color: #979898;
    zoom: 1;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    font-size: 12px;
}

.modal .cbp_tmtimeline > li .cbp_tmtime > span.large {
    font-size: 17px;
}

.modal .cbp_tmtimeline > li .cbp_tmtime > span.hidden + span {
    margin-top: 8px;
}

.modal .cbp_tmtimeline > li .cbp_tmicon {
    background: #ffffff;
    color: #979898;
    -webkit-box-shadow: 0 0 0 3px #ffffff;
    -moz-box-shadow: 0 0 0 3px #ffffff;
    box-shadow: 0 0 0 3px #ffffff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-primary {
    background-color: #2c2e2f;
    color: #fff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-success {
    background-color: #8dc63f;
    color: #fff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-info {
    background-color: #40bbea;
    color: #fff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-danger {
    background-color: #cc3f44;
    color: #fff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-warning {
    background-color: #ffba00;
    color: #fff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-red {
    background-color: #d5080f;
    color: #fff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-purple {
    background-color: #7c38bc;
    color: #fff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-secondary {
    background-color: #68b828;
    color: #fff;
}

.modal .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-gray {
    background-color: #ddd;
    color: #777;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel {
    background: #ffffff;
    color: #737881;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel h2,
.modal .cbp_tmtimeline > li .cbp_tmlabel p {
    color: #737881;
    font-size: 13px;
    margin: 0;
    line-height: 1.42857143;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel p + p {
    margin-top: 10px;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel h2 {
    font-size: 15px;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel h2 a {
    color: #303641;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel h2 span {
    zoom: 1;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
}

.modal .cbp_tmtimeline > li .cbp_tmlabel blockquote {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel:after {
    border-right-color: #ffffff;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel.empty {
    background: 0;
    padding: 9px 0;
    margin-bottom: 70px;
}

.modal .cbp_tmtimeline > li .cbp_tmlabel.empty:after {
    visibility: hidden;
}

@media screen and (max-width: 47.2em) {
    .modal .cbp_tmtimeline > li .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #fff;
        left: 10px;
    }

    .modal .cbp_tmtimeline > li .large {
        font-weight: bold;
        font-size: 16px !important;
    }

    .modal .cbp_tmtimeline > li .cbp_tmlabel.empty {
        background: #ffffff;
        padding: 1.7em;
    }

    .modal .cbp_tmtimeline > li .cbp_tmlabel.empty:after {
        visibility: visible;
    }
}

/** 客户轨迹 end **/

.FixedHeader_Cloned table.dataTable thead > tr > th {
    padding-left: 15px;
    padding-right: 15px;
}

/*全局*/
.col-428bca {
    color: #428bca
}

.col-3276b1 {
    color: #3276b1
}

.col-288acb {
    color: #288acb
}

.col-737383 {
    color: #737383
}

.col-5cb85c {
    color: #5cb85c
}

.col-47a447 {
    color: #47a447
}

.col-5bc0de {
    color: #5bc0de
}

.col-39b3d7 {
    color: #39b3d7
}

.col-e76c00 {
    color: #e76c00
}

.col-c4630e {
    color: #c4630e
}

.col-d9534f {    color: #d9534f}
.col-d2322d {    color: #d2322d}
.col-c3cdd9 {   color: #c3cdd9}
.col-979898 {   color: #979898;}
.col-fff {    color: #fff}
.col-000 {  color: #000}
.col-808b9c {  color: #808b9c}
.col-ff0000 {   color: #f00}
.col-ffae00 {   color: #ffae00}
.col-f48c12 {    color: #f48c12}
.col-00fd22 {   color: #00fd22}
.col-0051fd {  color: #0051fd}
.col-e100fd {   color: #e100fd}

/*背景颜色*/
.bg-ff6264 {   background-color: #ff6264 !important;}
.bg-00b19d { background-color: #00b19d !important;}
.bg-55acee {   background-color: #55acee !important;}

/*超出隐藏*/
.ove-hide {  overflow: hidden;}

/*超出隐藏*/
.text-ove-hide {  text-overflow: ellipsis;}

/*边距*/
.mar-b-18 {   margin-bottom: 8px;}
.mar-b-10 {   margin-bottom: 10px;}
.mar-b-0 {   margin-bottom: 0;}
.margin-top-5 {  margin-top: 5px;}
.margin-top-10 { margin-top: 10px;}
.margin-top-20 { margin-top: 20px;}
.margin-l5{margin-left: 5px;}
.mar-l-0{margin-left: 0 !important;}
.mar-r-0{margin-right: 0 !important;}
.mar-t-2{    margin-top: 2px;}


/*内边距*/
.pad-t-0{padding-top: 0;}
.pad-b-3{padding-bottom: 3px;}
.no-padding-right {   padding-right: 0;}
.pad-r-5{padding-right: 5px;}
.pad-r-0{padding-right: 0px;}
.pad-l-0{padding-left: 0px;}
.pad-l-15{padding-left: 15px;}

/*对齐*/
.text-a {   text-align: center;}
.text-center {  text-align: center;}
.text-left {  text-align: left;}

.ver-middle-important{vertical-align: middle !important;}

/* 宽度 */
.wid-80{width:80px;}

/*鼠标*/
.pointer{   cursor:pointer}


/*表单对齐*/
.cbr-inline-box>*{float: left; line-height: 32px;}


.form-inline-3 .form-group {
    overflow: hidden;
    line-height: 32px;
}

.form-inline-3 .form-group > * {
    display: block;
    float: left;
    overflow: hidden;
    text-wrap: normal;
}

.form-inline-3 .form-group span {
    padding: 0 5px;
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

/*关闭倒计时*/
.ui-countdown {
    background-color: #eee;
    border: 1px solid #ccc;
    height: 40px;
    width: 170px;
    text-align: center;
}

.ui-countdown span {
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
}

/*分组下拉树*/
#sortZtreeVal.form-control[readonly] {
    cursor: pointer;
    background-color: #fff;
}

/*右边工具栏目*/
.unique-time .form-control{
padding: 6px 6px;
}
.tabs-vertical-tools {
    position: absolute;
    right: -270px;
    width: 290px;
    min-height: 200px;

}

.tabs-vertical-tools .s:before {
    color: #8dc63f;
}

.tabs-vertical-tools .navList {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-left: 0;
    list-style: none;
    width: 20px;
    float: left;
    text-align: center;
    font-size: 11px;
}

.tabs-vertical-tools .navList a {
    position: relative;
    display: inline-block;
    width: 20px;
    margin: 8px 0 15px 0;
    padding: 5px 0 10px;
    background-color: #f4f4f4;
    color: #000;
    text-decoration: none;
}

.tabs-vertical-tools .navList .active a, .tabs-vertical-tools .navList a:hover {
    background-color: #fff;
    color: #000;
}

.tabs-vertical-tools .navList .active a:before, .tabs-vertical-tools .navList li:hover a:before, .tabs-vertical-tools .navList .active a:after, .tabs-vertical-tools .navList li:hover a:after {

    background-color: #fff;
}

.tabs-vertical-tools .navList a:before, .tabs-vertical-tools .navList a:after {
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    width: 24px;
    height: 10px;
    background-color: #f4f4f4;
}

.tabs-vertical-tools .navList a:before {
    top: -5px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.tabs-vertical-tools .navList a:after {
    bottom: -5px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}
.tabs-vertical-tools .navList a>i {
display: block;
}

.tabs-vertical-tools .navListCon {

    margin-left: 20px;
}

.tabs-vertical-tools .saveToggleBtn {
    color: #c0c0c0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.tabs-vertical-tools .saveToggleBtn.on {
    color: #000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.tabs-vertical-tools .panel{margin-bottom: 0;}
.tabs-vertical-tools #theSideToolbarCon .panel-options {
    padding-right: 20px;
}
/* 个人设置 */
.unique-personal.modal .modal-dialog .modal-content .modal-body{padding-bottom: 0px;}
/*弹出窗口 TAB效果*/
.modalTabAll.modal .modal-dialog .modal-content .modal-header {
    border-bottom-width: 0;
    padding-bottom: 0;
}

.modalTabAll.modal .tabBox {
    padding: 20px;
    background-color: #eeeeee;
}

.modalTabAll.modal .tabBox .nav.nav-tabs + .tab-content {
    margin-bottom: 0;
}

.modalTabAll.modal .modal-footer {
    border-top: 0;
}

.modalTab.modal .tabBox {
    padding: 20px;
    background-color: #eeeeee;
}

.modalTab.modal .tabBox .nav.nav-tabs + .tab-content {
    margin-bottom: 0;
}

/*弹出窗口 表格效果*/
.modalTableAll.modal .modal-dialog .modal-content .modal-header {
    border-bottom-width: 0;
    padding-bottom: 0;
}

.modalTableAll.modal .modal-footer {
    border-top: 0;
}
/*选择商品样式*/
.selectProductBox .line-height-default li {
    position: relative;
    border-bottom: 1px dashed #e4e4e4;
    padding: 5px 40px 5px 5px;
}

.selectProductBox li:hover {
    background-color: #fff;
}

.selectProductBox  li > span {
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 0;
}

/*小屏下 提示图标呼吸  */
.sidebarMenuBtn.on  .fa-bars{  
position:relative;
 box-shadow: 0px 0px 2px 5px #fff ;
-webkit-animation:myfirst 2s linear 0s infinite  alternate;
animation:myfirst 4s linear 0s infinite  alternate;
-moz-animation:myfirst 4s linear 0s infinite  alternate;
border-radius:5px;
}
@keyframes myfirst
{
0%   { box-shadow: 0px 0px 2px 5px #fff;  background-color:rgba(128, 182, 54, 0); }
10%   { box-shadow: 0px 0px 10px 5px rgba(128, 182, 54, 0.6);  background-color:rgba(128, 182, 54, 0.6); }
25%  {box-shadow: 0px 0px 20px 5px rgba(128, 182, 54, 0.6); background-color:rgba(128, 182, 54, 0.6); }
55%  {box-shadow: 0px 0px 25px 5px rgba(128, 182, 54, 0.3);  background-color:rgba(128, 182, 54, 0.3);}
75%  {box-shadow: 0px 0px 20px 5px rgba(128, 182, 54, 0.6); background-color:rgba(128, 182, 54, 0.6);}
90%   { box-shadow: 0px 0px 10px 5px rgba(128, 182, 54, 0.6);  background-color:rgba(128, 182, 54, 0.6); }
100%   { box-shadow: 0px 0px 2px 5px #fff;  background-color:rgba(128, 182, 54, 0);}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   { box-shadow: 0px 0px 2px 5px #fff;  background-color:rgba(128, 182, 54, 0); }
10%   { box-shadow: 0px 0px 10px 5px rgba(128, 182, 54, 0.6);  background-color:rgba(128, 182, 54, 0.6); }
25%  {box-shadow: 0px 0px 20px 5px rgba(128, 182, 54, 0.6); background-color:rgba(128, 182, 54, 0.6); }
55%  {box-shadow: 0px 0px 25px 5px rgba(128, 182, 54, 0.3);  background-color:rgba(128, 182, 54, 0.3);}
75%  {box-shadow: 0px 0px 20px 5px rgba(128, 182, 54, 0.6); background-color:rgba(128, 182, 54, 0.6);}
90%   { box-shadow: 0px 0px 10px 5px rgba(128, 182, 54, 0.6);  background-color:rgba(128, 182, 54, 0.6); }
100%   { box-shadow: 0px 0px 2px 5px #fff;  background-color:rgba(128, 182, 54, 0);}
}

@-webkit-keyframes myfirst 
{
0%   { box-shadow: 0px 0px 2px 5px #fff;  background-color:rgba(128, 182, 54, 0); }
10%   { box-shadow: 0px 0px 10px 5px rgba(128, 182, 54, 0.6);  background-color:rgba(128, 182, 54, 0.6); }
25%  {box-shadow: 0px 0px 20px 5px rgba(128, 182, 54, 0.6); background-color:rgba(128, 182, 54, 0.6); }
55%  {box-shadow: 0px 0px 25px 5px rgba(128, 182, 54, 0.3);  background-color:rgba(128, 182, 54, 0.3);}
75%  {box-shadow: 0px 0px 20px 5px rgba(128, 182, 54, 0.6); background-color:rgba(128, 182, 54, 0.6);}
90%   { box-shadow: 0px 0px 10px 5px rgba(128, 182, 54, 0.6);  background-color:rgba(128, 182, 54, 0.6); }
100%   { box-shadow: 0px 0px 2px 5px #fff;  background-color:rgba(128, 182, 54, 0);}
}
/* 侧边栏收缩过渡 */
.sidebar-menu.toggle-others.fixed {
transition: width 0.3s linear 0s;
-webkit-transition:width 0.3s linear 0s;
}
/*-----------------页面样式开始---------------------*/
/*404页面*/
.unique-error404 .error-symbol h2{
display:inline;
}
.unique-error404 p{
margin-top:10px;}
.unique-error404 .new3{
margin:20px 0 30px 30px;}
/*500页面*/
.unique-error500 .error-symbol h2{
display:inline;
}
.unique-error500 .new3{
margin:20px 0 30px 30px;}

/*  店铺图标 */
.unique-ico .ico-size{margin-right: 5px; float: left;overflow:hidden; height:30px; width:30px;
background: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,0)),url(/assets/img/image-not-find.jpg); 
background-size: 28px 28px;}
.unique-ico .wid-100{width:100%;}
.unique-ico .lin-30{line-height: 30px;}

/*数据罗盘*/
.unique-mostcommodity .t {
    display: inline-block;
    width: 80%;
}
/*数据罗盘>昨日收藏*/
.unique-mostcommodity .ztsc li:nth-child(1) span:first-child{
	background-color: #777;
	color: #FFF;
}

.unique-mostcommodity .ztsc li:nth-child(2) span:first-child{
	background-color: #40BBEA;
	color: #FFF;
}

.unique-mostcommodity .ztsc li:nth-child(3) span:first-child{
	background-color: #CC3F44;
	color: #FFF;
}

.unique-mostcommodity .ztsc li:nth-child(4) span:first-child{
	background-color: #68B828;
	color: #FFF;
}

.unique-mostcommodity .ztsc li:nth-child(5) span:first-child{
	background-color: #FFBA00;
	color: #FFF;
}
.unique-mostcommodity .ztsc li p{
	height:17px;
}

.menuItem {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
}

.menuItem a {
    display: block;
    border-top: 1px solid #e5e5e5;
    padding: 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

/*数据罗盘>数据总览>全景播报*/
.unique-mostcommodity #fullForm>*{ float:left;}
.unique-mostcommodity .qj_btn{width: 20%; }
.unique-mostcommodity .qj_sta{width: 30%;}
.unique-mostcommodity .qj_lin{width: 3%;text-align: center; line-height: 32px;}
 .unique-mostcommodity .qj_end{width: 30%;}
 .unique-mostcommodity .qj_cli{width: 10%; text-align:right;}
  .unique-mostcommodity .qj_tip{color: #fff;right: -11px;top: -12px;padding: 2px 4px;position: absolute;height: 22px;
line-height: 20px; width: 22px;border-radius: 50%;background-color: #f7aa47;font-size: 11px;
font-weight: bold;-webkit-transform: scale(0.8);-moz-transform: scale(0.8);transform: scale(0.8);}
.unique-mostcommodity .margin-l5{margin-left: 5px;}

/*数据罗盘>全景数据>客户数据*/
.unique-allcommodity .padding-l0{padding-left:0 ;}

/*客户洞察*/




/*  智能营销> 营销活动>活动管理>活动设计  */
.unique-activitySettings1 .line-height-default li {
    position: relative;
    border-bottom: 1px dashed #e4e4e4;
    padding: 5px 40px 5px 5px;
}

.unique-activitySettings1 .line-height-default li:hover {
    background-color: #fff;
}

.unique-activitySettings1 .line-height-default li > span {
    position: absolute;
    right: 2px;
    top: 0;
    border-radius: 0;
}

.unique-readonlyBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.unique-activitySettings2 .textl {
    line-height: 32px;
}
/*  智能营销> 营销活动>任务审核  分组节点  */
.unique-DesignSetUp.activity_grouping{padding:10px 15px 5px;background: #eeeeee;}

/*  智能营销> 营销活动>活动管理>活动设计>弹出  */


.unique-DesignSetUp .zhous {
    position: relative;
    top: -5px;
    padding-right: 0;
    padding-left: 0;
    line-height: 32px;
}

.unique-DesignSetUp .zhous label {
    position: relative;
    top: 2px;
}

.unique-DesignSetUp .titmTab {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    height: 42px;
    overflow: hidden;
}

.unique-DesignSetUp .l1 {
    padding-right: 0;
}

.unique-DesignSetUp select {
    height: 32px;
    border: 1px solid #e4e4e4;
}

.unique-DesignSetUp ul {
    padding: 10px;
    overflow: hidden;
    display: inline-block;
}

.unique-DesignSetUp .l2 {
    padding-left: 28px;
}

.unique-DesignSetUp .l3 {
    padding-left: 10px;
}

.unique-DesignSetUp .validate-has-error-input {
    marker: 0;
}

.unique-DesignSetUp .validate-has-error .form-control {
    border-color: #cc3f44;
    color: #cc3f44;
}

.unique-DesignSetUp .validate-has-error-input .form-control + .error {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    top: 1px;
    left: 103%;
    z-index: 2;
    padding: 5px 8px;
    background-color: #fff;
    border: 1px solid #cc3f44;
    color: #cc3f44;
    border-radius: 4px;

}

.unique-DesignSetUp span.error {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    top: 1px;
    left: 103%;
    z-index: 2;
    padding: 5px 8px;
    background-color: #fff;
    border: 1px solid #cc3f44;
    color: #cc3f44;
    border-radius: 4px;

}

.unique-DesignSetUp .validate-has-error-input .form-control + *:after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: 8px;
    width: 10px;
    height: 10px;
    border: solid #cc3f44;
    border-width: 0 0 1px 1px;
    -webkit-transform: rotate(45deg);
    background-color: #fff;

}

.unique-DesignSetUp span.error:after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: 8px;
    width: 10px;
    height: 10px;
    border: solid #cc3f44;
    border-width: 0 0 1px 1px;
    -webkit-transform: rotate(45deg);
    background-color: #fff;

}

.unique-DesignSetUp .form-group.error {
}

.tab-content .panel.panel-border {
    border: 1px solid #ddd;
}
/*  智能营销> 营销活动>任务审核  */

.unique-DesignSetUp.activity_grouping {
}

.unique-DesignSetUp.activity_grouping ul {
/*     padding: 0;
    display: inline; */
}

.unique-DesignSetUp.activity_grouping .bge {
    background: #eeeeee;
    width: 100%;
    padding: 0;
    display: inline;
}

.unique-DesignSetUp.activity_grouping .bor {
    border: 1px solid #eeeeee;
}

.unique-DesignSetUp.activity_grouping .icons_tip {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

.unique-DesignSetUp.activity_grouping .text-left {
    text-align: left !important;
}

.unique-DesignSetUp.activity_grouping .padding-left-0 {
    padding-left: 0;
}

.unique-DesignSetUp.activity_grouping .padding-right-0 {
    padding-right: 0;
}
.unique-DesignSetUp.activity_grouping .padding-l15 {
    padding-left: 150px !important;
}

.unique-DesignSetUp.activity_grouping .padding-top-7 {
    padding-top: 7px;
}

.unique-DesignSetUp.activity_grouping .wid_25 {
    width: 25px;
}

.unique-DesignSetUp.activity_grouping .wid_50 {
    width: 50px;
}

.unique-DesignSetUp.activity_grouping .wid_120 {
    width: 120px;
}

.unique-DesignSetUp.activity_grouping .margin_bot {
    margin-bottom: 0 !important;
}

.unique-DesignSetUp.activity_grouping .margin_left {
    margin-left: 0 !important;
}

.unique-DesignSetUp.activity_grouping .margin_bot_10 {
    margin-bottom: 10px !important;
}

.unique-DesignSetUp.activity_grouping .margin_top_7 {
    margin-top: 7px !important;
}

.unique-DesignSetUp.activity_grouping .margin_0 {
    margin: 0 !important;
}

.unique-DesignSetUp.activity_grouping .fgs_h2 {
    margin-top: 15px;
    height: 2px;
}

.unique-DesignSetUp.activity_grouping .input-group-addon {
    top: 0;
}




/*  智能营销> 激励设置>淘宝优惠券>管理  */

.unique-discountCoupon .discount_coupon_form{padding:10px 15px;background: #ffffff;}
.unique-discountCoupon .icons_tip{display:table-cell;vertical-align:middle; padding-left:5px; }

.unique-discountCoupon .text-left{text-align: left !important;}
.unique-discountCoupon .text-right{text-align: right !important;}
.unique-discountCoupon .text-center{text-align: center !important;}

.unique-discountCoupon .display_none{display:none;}
.unique-discountCoupon .padding-15{}
.unique-discountCoupon .padding-5{padding:5px;}
.unique-discountCoupon .padding-0-5{padding: 0 5px !important;}
.unique-discountCoupon .padding-left-0{padding-left:0;}
.unique-discountCoupon .padding-left-35{padding-left:35px;}
.unique-discountCoupon .padding-right-0{padding-right:0;}
.unique-discountCoupon .padding-top-7{padding-top:7px;}
.unique-discountCoupon .padding-top-20{padding-top:20px;}
.unique-discountCoupon .padding-bot-20{padding-bottom: 20px;}
.unique-discountCoupon .padding-21{padding:21px !important}
.unique-discountCoupon .margin_bot{margin-bottom: 0 !important;}
.unique-discountCoupon .margin_left{margin-left: 0 !important;}
.unique-discountCoupon .margin_bot_10{margin-bottom: 10px !important;}
.unique-discountCoupon .margin_bot_20{margin-bottom: 20px !important;}
.unique-discountCoupon .margin_top_7{margin-top: 7px !important;}
.unique-discountCoupon .margin_0{margin: 0 !important;}
.unique-discountCoupon .margin_right_15{margin-right: 15px;}

/*新建*/
.unique-discountCoupon .fs18{font-size:18px;}

/*发放*/
.unique-discountCoupon .btn-info {color: #ffffff !important;background-color: #40bbea !important;border-color: #29b3e7;}
.unique-discountCoupon .ver_mid{vertical-align: middle !important;border-bottom: 1px solid #eeeeee !important; color: #555555;}
.unique-discountCoupon .give_money{display: inline-block; width: 100px; text-align:right; padding-right: 27px;}
.unique-discountCoupon  .border_0{border:none;}
.unique-discountCoupon .padding-0{padding: 0 !important; }
.unique-discountCoupon .ShopECoupon {
    line-height: 60px;
    width: 139px;
    height: 60px;
    padding-right: 62px;
    text-align: right;
    padding-top: 5px;
    font-weight: bold;
    font-size: 38px;
    color: #fff;
    display: block;
    background: url(/resource/images/test/shopEcoupon.png) no-repeat center center;
}
.unique-discountCoupon .UsedShopECoupon {
    line-height: 60px;
    width: 139px;
    height: 60px;
    padding-right: 62px;
    text-align: right;
    padding-top: 5px;
    font-weight: bold;
    font-size: 38px;
    color: #fff;
    display: block;
    background: url(/resource/images/test/useShopEcoupon.png) no-repeat center center;
}


/*  智能营销> 激励设置>淘宝红包管理  */
.envelopeSkinDiv {
    height: 135px;
    position: relative;
    width: 284px;
    border: 1px dashed gray;

}

table .envelopeSkinDiv {
    height: 120px;
    position: relative;
    width: 300px;
    border: 0;
}

table .envelopeSkinDiv .skinBackDiv {
    height: 120px;
    position: absolute;
    width: 300px;
    left: 0;
    top: 0;
    background: url("/resource/images/test/b.png") no-repeat center;
    background-size: 100%;
}

.envelopeSkinDiv .skinBackDiv {
    height: 100px;
    position: absolute;
    width: 250px;
    left: 15px;
    top: 15px;
    background: url("/resource/images/test/b.png") no-repeat center;
    background-size: 100%;
}

.envelopeSkinDiv .skinBackDiv .redSpan {
    position: absolute;
    left: 30px;
    top: 10px;
}

.envelopeSkinDiv .skinBackDiv .redSpan label {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.envelopeSkinDiv .skinBackDiv .redSpan label:nth-child(1) {
    margin-top: -5px;
    font-size: 34px;;
}

.envelopeSkinDiv .skinBackDiv .timeSpan {
    position: absolute;
    right: 10px;
    bottom: 8px;
}

.envelopeSkinDiv .skinBackDiv .timeSpan label {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}







/*  体验优化> 订单催付>付款关怀  */

.unique-payConcern3 .col-sm-10 {
    line-height: 32px;
}
.unique-payConcern3 .padding-l35{padding-left: 35px;}
.unique-payConcern1 .form-inline-4 .form-group {
    overflow: hidden;
    line-height: 32px;
}

.unique-payConcern1 .form-inline-4 .form-group > * {
    display: block;
    float: left;
    overflow: hidden;
    text-wrap: normal;
}

.unique-payConcern1 .form-inline-4 .form-group input {
    width: 60px;
}

.unique-payConcern1 .form-inline-4 .form-group span {
    padding: 0 5px;
}
/* 全景数据》客户数据》自定义属性分析》批量修改的弹窗 */
.unique-payConcern1 .list_name {margin:2px;display: inline-block;color: #7d7f7f;padding: 2px 0 2px 4px;}
.unique-payConcern1 .cont{padding:2px;}
/*体验优化>订单催付>手动催付*/

.unique-soudongcuifu .new{
width:443px;
border: 1px solid #e4e4e4;
padding:2px 0 6px;}
.unique-soudongcuifu .new span{margin:8px;
}
.unique-soudongcuifu .new2{
color:#979898;
display:inline;}




/*声音管理>舆情数据*/

.unique-sentiment.invoice-env {
    padding-top: 0;
}

.unique-sentiment h3 {
    margin-top: 10px;
}

.unique-sentiment .invoice-details, .unique-sentiment .mail-single-body {
    border-bottom: 1px solid #f0f0f0;
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/*品牌忠诚度>积分管理>积分查询*/
.integralInquirymodal .top {
    padding:10px;
    background: #f8f8f8;
    border: 1px solid #e5e5e5;

}

/*商业智能*/
.unique-businessIntelligence{}
/*商业智能>商品分析看了又看*/
.clear{clear:both;}

.unique-businessIntelligence .lookandlook{}
.unique-businessIntelligence .lookandlook .look-list{    display:inline-block;    width: 100%;}
.unique-businessIntelligence .lookandlook .look_left{    width: 70px; float:left;   display: inline-block;
    vertical-align: middle;}
.unique-businessIntelligence .lookandlook .look_left img{width:70px;height:65px; }
.unique-businessIntelligence .lookandlook .look_right{    margin-left: 70px;     padding-left: 5px;}
.unique-businessIntelligence .lookandlook .look_tip{background-color: #eeeeee; margin-top:10px;padding: 10px 15px;}
.unique-businessIntelligence .lookandlook .look_des{  width: 100%;    display: block;   overflow: hidden;    height: 21px;}
.unique-businessIntelligence .lookandlook .look_des.look_sort{font-weight: 700;padding-top:0px;     height: 17px;   line-height: 17px;    font-size: 12px;}
.unique-businessIntelligence .lookandlook .look_des.goods a   { position: absolute;   top: 0px;   white-space: nowrap;   overflow: hidden;   text-overflow: ellipsis;   width: 80%;}
.unique-businessIntelligence .lookandlook .look_des.goods {  position: relative;} 
.unique-businessIntelligence .lookandlook .look_num{color: #4D4E4E;}
.unique-businessIntelligence .mailbox-sidebar li .deldte {
    display: none;
    margin-top: 0;
    width: 18px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.unique-businessIntelligence .mailbox-sidebar li:hover .deldte, .unique-businessIntelligence li.active .deldte {
    display: block;
}

.unique-businessIntelligence  .mailbox-sidebar li:hover a {
    cursor: pointer;
}

.unique-businessIntelligence   .mailbox-sidebar .active {
    background-color: #e7e7e7;
}

.unique-businessIntelligence   .mailbox-sidebar li a > i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.unique-businessIntelligence  .mailbox-sidebar li a > i:before {
    content: "\f114";
}

.unique-businessIntelligence  .mailbox-sidebar .active a > i:before {
    content: "\f115";color: #68b828;
}
/*企业开放平台*/
/*系统设置>角色管理*/
.unique-rightsManagement  .characterList  li {
    color: #68b828;
    cursor: pointer;
}
.unique-rightsManagement .characterList  .active a {
    color: #68b828;
}
.characterList  .active  {
    background-color:#e7e7e7;
}
.characterList a > span.edit,  .characterList a > span.del {
    display: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.unique-rightsManagement  .characterList  .active i {
    color: #68b828;
}
.unique-rightsManagement  .characterList  .active a> span{
    display: block;
}
.unique-rightsManagement  .characterList a:hover > span {
    display: block;
    cursor: pointer;
}

.unique-rightsManagement  .characterList .edit, .characterList .del {

}
.unique-rightsManagement  .characterList li a > i {
    display: inline-block;
    margin-right: 3px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.unique-rightsManagement  .characterList li a > i:before {
    content: "\f007";
}

.unique-rightsManagement  .characterList .active a > i:before {
    content: "\f007";color: #68b828;
}
/*系统设置>品牌管理*/
.unique-brandManagement{}
.unique-brandManagement .padding-top7{padding-top:7px;}
.unique-brandManagement .brandmeg,.unique-brandManagement .brandmeg2,.unique-brandManagement .brandmeg3{padding:10% 10% 7%;}
.unique-brandManagement .displaynone{display:none;}
.unique-brandManagement .brandedit{ }
    /*系统设置>品牌管理> 图标的  */
.unique-brandManagement .brandicon1,.unique-brandManagement .brandicon2,.unique-brandManagement .brandicon3{font-size: 20px;position: absolute;top:5%;right: 5%;z-index: 9999; text-align:right;display:none;}
.unique-brandManagement .brandicon1 a,.unique-brandManagement .brandicon2 a,.unique-brandManagement .brandicon3 a{color: #fff;}
   /* 系统设置>品牌管理> logo部分 */
.unique-brandManagement .brandlogo{border-radius: 5px;overflow: hidden;}
.unique-brandManagement .brandlogo img{width:100%;padding: 20px;}
.unique-brandManagement .brandup{display:none;width: 100%;height: 280px;}
	/* 系统设置>品牌管理> info部分 */
.unique-brandManagement .inp{background: transparent;border: none;color: #fff;padding: 5px 15px; width:100%;}
.unique-brandManagement .brandsuc{}
.unique-brandManagement .brandtitle{ padding-bottom: 5px; height: 30px;font-size: 23px;line-height: 30px;text-align: center; }
.unique-brandManagement .brandtitle::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.unique-brandManagement .brandtitle:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
.unique-brandManagement .brandtitle::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
.unique-brandManagement .brandtitle:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}


.unique-brandManagement .brandtitle1{ padding-bottom: 5px; height: 30px;font-size: 23px;line-height: 30px;text-align: center;cursor: pointer;border: none !important;}
.unique-brandManagement .brandedit{ }
.unique-brandManagement .brandcont{font-weight: 700;height: 62px;overflow: hidden; text-align:left;}
.unique-brandManagement .brandcont1{font-weight: 700;height: 62px;overflow: hidden; text-align:left;cursor: pointer;border: none !important;}

.brandedit:hover .brandicon1{display:block;}
.brandedit2:hover .brandicon2{display:block;}
.brandedit3:hover .brandicon3{display:block;}

.unique-brandManagement .h125{height: 125px;}
.unique-brandManagement .brandtip{padding-top: 34%;text-align: center;font-size: 30px;padding-bottom: 27%;}
.unique-brandManagement .brandinfo,.unique-brandManagement .bordertop{border-top: 1px solid #eee;padding: 10px;}
.unique-brandManagement .brandintro{height:55px;overflow: hidden;}

.unique-brandManagement .line1{border-bottom: 1px solid transparent;margin: 5px auto 10px;}
.unique-brandManagement .line{border-bottom: 1px solid #fff;margin: 5px auto 10px;}



/*会员管理>等级设置*/
.unique-promotionList .formBox > div {
    margin: 10px;
}
.unique-promotionList .h {
    border-bottom: 1px dashed #e4e4e4
}
.unique-promotionList li {
    border-bottom: 1px dashed #e4e4e4
}


/*会员管理>自定义规则分类>新建规则*/
.unique-MembershipReportPop.modal .modal-dialog .modal-content .modal-body {
    padding-bottom: 0;
}

.unique-MembershipReportPop .input-group-addon i {
    width: 10px;
}

.unique-MembershipReportPop .box {
    padding: 10px;
    background: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

.unique-MembershipReportPop .box p {
    text-align: center;
}

.unique-MembershipReportPop .form-control.select2-container#s2id_loc_city {
    width: 256px;
    min-height: 35px !important;
}

.unique-MembershipReportPop .form-control.select2-container#s2id_loc_city input {
    line-height: 22px;
}
/*品牌忠诚度>积分管理>积分查询*/
.integralInquirymodal .top {
    padding:10px;
    background: #f8f8f8;
    border: 1px solid #e5e5e5;

}
/*品牌忠诚度>积分管理>积分查询>积分详情*/
 .integralInquirymodal .form-per{display: inline-block;padding: 0 15px 10px 0;}
 .integralInquirymodal .text-tip{color: #f00;}

/*工具箱>模板管理>邮件模板*/
.mailbox-env.unique-emailtemplates1{}
.mailbox-env.unique-emailtemplates1 .padding_50{padding: 50px;}
.mailbox-env.unique-emailtemplates1 .margin-bottom-0{margin-bottom:0;}
.mailbox-env.unique-emailtemplates1 .margin-5-auto{margin:5px auto;}
.mailbox-env.unique-emailtemplates1 .margin-top-10{ margin-top: 10px;}
.mailbox-env.unique-emailtemplates1 .produce_title{ color:#000; background:#eeeeee;}
.mailbox-env.unique-emailtemplates1 .text-center{text-align:center;}
.mailbox-env.unique-emailtemplates1 .border-bottom-0{border-bottom: none;}
.mailbox-env.unique-emailtemplates1 .produce_price{display:inline;}
.mailbox-env.unique-emailtemplates1.produce_info{border:1px solid #ccc;}
.mailbox-env.unique-emailtemplates1 .wuliu td{padding: 10px;}
.mailbox-env.unique-emailtemplates1 .itemPic{}
.mailbox-env.unique-emailtemplates1 td{border:1px solid #ccc;}
/* 添加删除图标 2015/11/23 */
.mailbox-env.unique-emailtemplates1 .item_pics{    position: relative;   top: -176px;
  right: 30px;}
.mailbox-env.unique-emailtemplates1 .item_pics:before{    content: "\f1f8";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  color: red;
  font-size: 25px;}

/* 工具箱>模板管理>邮件模板  */
.mailbox-env.unique-emailtemplates1 .recommend{height: 25px; border-collapse: collapse;}
.mailbox-env.unique-emailtemplates1 .recommend-pro td{width: 233px;}
.mailbox-env.unique-emailtemplates1 .recommend-title{border-style: none none solid;  border-bottom-color: rgb(155, 213, 253); }
.mailbox-env.unique-emailtemplates1 .addpic{margin: 15px auto 10px; border: 1px solid #e0e0e0; width: 160px; height: 160px; line-height: 160px; overflow: hidden; text-align: center; font-size: 20px; font-weight: bold;}
.mailbox-env.unique-emailtemplates1 .addinfo{ margin:5px 10px; width: 90%;height: 90px; text-align: left;}
.mailbox-env.unique-emailtemplates1 .addname{ margin:5px 0;height: 33px;overflow: hidden;}
.mailbox-env.unique-emailtemplates1 .addprice{height: 30px; margin-top: 0; margin-bottom: 0; }
.mailbox-env.unique-emailtemplates1 .addprice td{padding: 5px 10px; width: 50%;} 
.mailbox-env.unique-emailtemplates1 .recommend-pro img {vertical-align: middle;width: 100%;}
 .modal.fullnull .modal-content {  position: relative;}
 .modal.fullnull .modal-title {   display: none;}
 .modal.fullnull .modal-dialog .modal-content {    padding: 0;}
 .modal.fullnull .close {    padding-right: 10px;   padding-top: 10px;    position: absolute;    right: 0;    top: 0;    z-index: 2;}
 .modal.fullnull .modal-dialog .modal-content .modal-footer {    margin: 0 30px 30px;    border: 0;}
 .modal.fullnull .modal-dialog .modal-content .modal-body {    padding: 0;}
.mailbox-env.unique-emailtemplates1 .t1 {   line-height: 32px;   text-align: right;    padding-right: 0;}
.modal.fullnull .mailbox-env .mail-compose {   margin-bottom: 0;}
 .modal.fullnull .emailtest {   margin: 0 30px 30px;    padding: 10px;    background: #f8f8f8;    border: 1px solid #e5e5e5;}

/*品牌忠诚度品牌》VIP*/
.well-lenth{
	  max-height: 311px;
  overflow-y: scroll;
}


/*评价管理下拉列表的图标*/
.form-inline-7 >*{display: inline-block; width: auto; vertical-align: middle;}
.form-inline-7 input{     width: 65px;}  
.menuContent{    position: relative;   top: 0;width:100%;    padding-left: 15px; padding-right: 15px; margin-left: -15px;}
.ztree-input{position: relative; top:0px; }
.ztree-input input{    padding-left: 25px;}
.ztree-input .extend-icon,.ztree-input .shrink-icon {   line-height: 0;margin: 0; padding: 0;  vertical-align: middle; } 
.ztree-input .extend-icon:before {  position: absolute; right: 25px; top: 15px;display: block;  content: '\f107';   font-family: 'FontAwesome';} 
.ztree-input .shrink-icon:before{   position: absolute; right: 25px;   top: 15px;   content: "\f106";font-family: 'FontAwesome';}
.modal_ztree, .modal_citysel{      z-index: 99;   
     width: 100%;
    min-height: 32px; 
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
       }
.modal_ztree{ padding: 6px 9px; position: absolute;  }
.modal_citysel {display: block;
    width: 100%;min-height: 32px;
    padding: 6px 30px 6px 9px; } 
    
    
/* 会员等级设置 */
.add-grade{      margin: 20px;margin-bottom:0; font-size:16.25px; padding: 20px 30px; background: #F9F9F9;   border: 1px solid #EEEEEE;   text-align: center;    cursor: pointer;}
.add-grade i{ font-size:20px;    vertical-align: middle;display: inline-block;}
.add-grade+p{    padding-left: 20px;}

/* 物流等级设置 */
.logistics{}
.logistics .meg{margin-bottom:10px;}
.logistics .meg span,.logistics tr td:last-child>span{margin-right:15px;display: inline-block;}
.logistics tr td:first-child{width:105px;}  

/* 短信对话 */
.chat{}
.chat-record {  display: initial;  width: 100%;} 

.chat-record li {
  position: relative;
  clear: both;
  min-height: 59px;
  display: inline-block;
  padding: 5px 20px 0px 10px;
  margin: 0 0 20px 0; 
  border-radius: 10px;
  background-color: #e7f4fd;
} 
.chat-record li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #e7f4fd;
}

.chat-record li.me { 
  float: right;
  margin-right: 15px; 
}
 

.chat-record li.me:after {
  border-right: 15px solid transparent;
  right: -15px;
}

.chat-record li.other { 
  float: left;
  margin-left: 15px; 
}

.chat-record li.other:after {
  border-left: 15px solid transparent;
  left: -15px;
}


/* 标志 */
.flag{
	display: inline-block;
	width: 15px;
    height: 14px;
    line-height: 12px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 12px;
}
 
 